# Données brutes et artefacts générés
data/
*.csv
*.pkl
*.parquet
*.npy

# Exception : l'échantillon reste versionné
!samples/*.csv

# Python
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

# Artefacts allégés versionnés pour le déploiement
!app_data/
!app_data/*
